@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.App {
  text-align: center;
  background-color: #ED553B;
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.navbar > button {
  border-color: white !important;
  color: white !important;
}

.navbar-nav {
  margin: auto;
  background-color: transparent;
}

.navbar-nav > a {
  color: white !important;
  font-size: 2vw;
}

.navbar-nav > .active {
  text-decoration: underline !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.logo-block {
  position: absolute;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

.logo {
  opacity: 0;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slogan-words {
  margin: 1vw;
  letter-spacing: .8vw;
  opacity: 0;
  font-weight: 400;
  text-align: center;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInOpacity {
	0% {
    opacity: 0;
	}
	100% {
    opacity: 1;
	}
}
